@import "tailwindcss";

@theme {
    --color-main: #111111;
    --color-primary: #6c24d8;
}

#md-content {
    h2 {
        @apply text-2xl md:text-3xl font-bold mb-4 wrap-anywhere;
    }

    h3 {
        @apply text-xl md:text-2xl font-bold mb-4 wrap-anywhere;
    }

    h4 {
        @apply text-lg md:text-xl font-bold mb-4 wrap-anywhere;
    }

    h5,
    h6 {
        @apply text-lg font-bold mb-4 wrap-anywhere;
    }

    p {
        @apply text-base mb-4 text-black/80;
    }

    blockquote {
        @apply bg-primary/10 border-l-2 border-primary pl-4 py-2 text-primary font-medium mt-2 mb-8;
        p {
            @apply mb-0;
        }
    }

    ol {
        @apply list-decimal space-y-1;
        li {
            @apply ml-8 mt-1 last:mb-8;
        }
    }

    ul {
        @apply list-disc space-y-1;
        li {
            @apply ml-8 mt-1 last:mb-8;
        }
    }

    a {
        @apply underline text-primary;
    }

    .astro-code {
        @apply bg-black/10 p-4 rounded-xl font-mono mb-8 text-sm w-full;
    }

    table {
        @apply w-full border border-black/10 mb-8;

        th {
            @apply border border-black/10 bg-black/5 text-left p-3;
        }

        td {
            @apply border border-black/10 p-3;
        }
    }

    code:not(pre code) {
        @apply bg-primary/10 px-1 py-0.5 rounded-md font-mono text-wrap flex-wrap;
    }
    code {
        @apply text-wrap flex-wrap wrap-anywhere;
    }
}
