---
//Imports
import Base from "@layouts/Base.astro";
import "@styles/markdown.css";

// Get current language from URL
export function getStaticPaths() {
    return [
        {
            params: { pages: "pages", index: undefined },
            props: { lang: "en" },
        },
        {
            params: { pages: "zh", index: "ye-mian" },
            props: { lang: "zh" },
        },
    ];
}

// Props
const { lang } = Astro.props;

// Dynamically import the correct MDX file based on the language
const { Content, frontmatter } = await import(`./_pages-${lang}.mdx`);
---

<Base
    title={frontmatter?.title}
    meta={{
        description: frontmatter?.description,
        keywords: frontmatter?.keywords,
    }}
>
    <section id="md-content" aria-label="Page content" class="py-12 md:py-20">
        <Content />
    </section>
</Base>
